@primary: rgba(31, 150, 242, 1.00);
@primary-dark: rgba(23, 117, 209, 1.00);
@secondary: rgba(255, 110, 64, 1.00);
@black: rgba(31, 31, 31, 1.00);

@button-text: white;
@primary-text: @black;

@window-border-radius: 5px;

.clearfix {
	clear: both;
	overflow: auto;
}

.text-right {
	text-align: right;
}

.hidden { display: none; }

pre {
	width: 50%;
	height: 25%;
	bottom: 0;
	left: 15px;
	color: black;
	background-color: white;
	position: fixed;
	z-index: 999;
	overflow: scroll;
}

body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	color: @black;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

body {
	background: url('/assets/img/bg.png') rgba(39, 16, 47, 1.0) center center;
	background-size: cover;
}

h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.window-border {
	box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
	border-radius: @window-border-radius;
}

.main-window-size {
	position: fixed;
	width: 70%;
	margin: 80px 15%;
}

.anim(@time:.5s) {
	transition: all @time cubic-bezier(0.4, 0, 0.2, 1);
}

.dialog-outer {
	position: absolute;
	background: rgba(0,0,0,0.7);
	border-radius: @window-border-radius;
	z-index: 20;
	height: 100%;
	width: 100%;
	.anim(.3s);
	
	.dialog {
		.window-border;
		margin: 70px 25%;
		background: white;
		.anim(.3s);
		.dialog-inner {
			.dialog-header {
				background: rgba(0,0,0,0.1);
				text-align: center;
				font-weight: 300;
				padding: 8px 4px;
				font-size: .95em;
			}
			.dialog-content {
				padding: 15px;
				font-size: .9em;
			}
		}
	}
	
	&:not(.active) {
		opacity: 0;
		pointer-events: none;
		.dialog {
			margin-top: 90px;
		}
	}
	
}

form {
	.form-group {
		width: 50%;
		margin-bottom: 10px;
		label {
			display: block;
			font-weight: bold;
			font-size: .8em;
		}
		input,select,textarea {
			width: 100%;
				font-size: 1.05em;
				padding: 2px 5px;
		}
	}
	
	input[type='submit'],input[type='button'] {
		background: white;
		border: 0;
		padding: 8px 6px;
		border-radius: 3px;
		font-size: 1.1em;
		margin-bottom: 2px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
		&:active {
			background: rgb(200, 200, 200);
		}
		&.btn-primary {
			background: @primary;
			color: @button-text;
			&:active {
				background: @primary-dark;
			}
		}
	}
}

#main-container {
	.main-window-size;
	.window-border;
	z-index: 10;
	
	#title-bar {
		background: @primary-dark;
		text-align: center;
		color: @button-text;
		padding: 8px 4px;
		font-weight: 300;
		border-radius: @window-border-radius @window-border-radius 0 0;
	}

	#action-bar {
		background: @primary;
		padding: 16px 8px;
		.clearfix;
		
		.action {
			float: left;
			color: @button-text;
			text-align: center;
			width: 80px;
			cursor: pointer;
			
			&.action-right {
				float: right;
			}
			
			.action-icon {
				padding: 8px 8px;
				font-size: 1em;
				border-radius: 64px;
				background: @secondary;
				text-align: center;
				display: inline-block;
				margin-bottom: 6px;
			}
			
			.action-text {
				font-size: .7em;
				font-weight: 300;
			}
			
		}
		
	}
	
	#content {
		background: rgb(209, 209, 209);
		min-height: 316px;
		height: 50vh;
		padding: 16px;
		border-radius: 0 0 @window-border-radius @window-border-radius;
		clear: both;
		overflow-y: scroll;
		
		.page {
			background: white;
			float: left;
			box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1);
			width: 10vw;
			height: 10vw;
			max-width: 100px;
			max-height: 100px;
			min-width: 80px;
			min-height: 80px;
			margin-right: 2vw;
			margin-bottom: 2vw;
			padding: 8px;
			font-size: .9em;
			
			&.page-stack {
				box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
			}
			
			&.page-external {
				background: fade(@primary, 30%);
			}
			
			strong {
				display: block;
			}
			
		}
		
	}
	
	#toast {
		color: white;
		font-weight: 300;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(0,0,0,0.6);
		border-radius: 0 0 @window-border-radius @window-border-radius;
		.anim();
		height: 0;
		overflow: hidden;
		
		#toast-inner {
			padding: 8px 16px;
		}
		
		&.active {
			height: 35px;
		}
	}
}

