.clearfix {
  clear: both;
  overflow: auto;
}
pre {
  width: 50%;
  height: 25%;
  bottom: 0;
  left: 15px;
  color: black;
  background-color: white;
  position: fixed;
  z-index: 999;
  overflow: scroll;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #1f1f1f;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}
body {
  background: url('/assets/img/bg.png') #27102f center center;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
#main-container {
  position: fixed;
  width: 70%;
  margin: 80px 15%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
#main-container #title-bar {
  background: #1775d1;
  text-align: center;
  color: white;
  padding: 8px 4px;
  font-weight: 300;
  border-radius: 5px 5px 0 0;
}
#main-container #action-bar {
  background: #1f96f2;
  padding: 16px 8px;
  clear: both;
  overflow: auto;
}
#main-container #action-bar .action {
  float: left;
  color: white;
  text-align: center;
  width: 80px;
}
#main-container #action-bar .action.action-right {
  float: right;
}
#main-container #action-bar .action .action-icon {
  padding: 8px 8px;
  font-size: 1em;
  border-radius: 64px;
  background: #ff6e40;
  text-align: center;
  display: inline-block;
  margin-bottom: 6px;
}
#main-container #action-bar .action .action-text {
  font-size: .7em;
  font-weight: 300;
}
#main-container #content {
  background: #d1d1d1;
  min-height: 312px;
  padding: 16px;
  border-radius: 0 0 5px 5px;
}
#main-container #content .page {
  background: white;
  float: left;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1);
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
  min-width: 80px;
  min-height: 80px;
  margin-right: 2vw;
  margin-bottom: 2vw;
  padding: 8px;
  font-size: .9em;
}
#main-container #content .page.page-stack {
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
#main-container #content .page.page-external {
  background: rgba(31, 150, 242, 0.3);
}
#main-container #content .page strong {
  display: block;
}
